# Penggunaan String

In [1]:
'Ini contoh String'

'Ini contoh String'

In [2]:
"ini Juga Contoh String"

'ini Juga Contoh String'

In [3]:
"Hari ini adalah Jum'at"

"Hari ini adalah Jum'at"

In [4]:
y = 'Google'
y

'Google'

# Input dari keyboard

In [7]:
umur = 20 
nama = 'Rio'

In [8]:
print('Umur saya {satu}, nama saya {dua}'.format(satu=umur, dua=nama))

Umur saya 20, nama saya Rio

# Menampilkan string dalam urutan index Array

In [10]:
x = 'Python'

# Tampilkan satu huruf pertama dari string x

In [11]:
x[0]

'P'

In [12]:
x[3]

'h'

# Tampilkan semua string yang ada dalam string x

In [13]:
x[0:]

'Python'

# Tampilkan 3 String pertama

In [14]:
x[:3]

'Pyt'

In [15]:
x[0:3]

'Pyt'

# Tampilkan 3 string mulai dari index 2

In [17]:
x[2:5]

'tho'

# Input

In [21]:
angka = int(input("Masukkan Niali Angka : "))

Masukkan Niali Angka : 100

In [25]:
print(angka + 200)

300

# Dictionary

In [26]:
# Membuat Dictionari
data = {'nama' : 'Rio Ghaniy Septiansyah'}

In [27]:
# Menampilkan isi Dictionary
data['nama']

'Rio Ghaniy Septiansyah'

In [28]:
# Dengan banyak key dan value

data = {'nama':'Rio Ghaniy Septiansyah',
        'alamat':'Bojonegoro',
        'hobby':'Semua jenis olahraga',
        }

In [30]:
print('Nama saya : %s'%data['nama'])
print('Alamat saya : %s'%data['alamat'])
print('Hobby saya : %s'%data['hobby'])

Nama saya : Rio Ghaniy Septiansyah
Alamat saya : Bojonegoro
Hobby saya : Semua jenis olahraga

In [31]:
# Meanmpilkan isi dictionary dengan looping

for key, val in data.items():
    print("%s : %s" % (key, val))

nama : Rio Ghaniy Septiansyah
alamat : Bojonegoro
hobby : Semua jenis olahraga

# List gabungan dari beberapa tipe data

In [62]:
# List Gabungan

list_kawan = ['Apri Junaidi','Jerry','Aldean','David',]
list_gabungan = [2019, "Corona", True, 1.24, list_kawan, [56,77]]

In [63]:
# Tampilkan list Gabungan

print(list_gabungan)

[2019, 'Corona', True, 1.24, ['Apri Junaidi', 'Jerry', 'Aldean', 'David'], [56, 77]]

In [64]:
list_gabungan

[2019,
 'Corona',
 True,
 1.24,
 ['Apri Junaidi', 'Jerry', 'Aldean', 'David'],
 [56, 77]]

# Menampilkan List dengan Index

In [65]:
print('list_kawan index 0 adalah : ', list_kawan[0])

list_kawan index 0 adalah :  Apri Junaidi

In [66]:
print('list_kawan index 1 adalah : ', list_kawan[1])

list_kawan index 1 adalah :  Jerry

# Menambahkan data yang ada dalam list (Append List)

In [67]:
# Update List

list_kawan.append("Restu")

In [68]:
print(list_kawan)

['Apri Junaidi', 'Jerry', 'Aldean', 'David', 'Restu']

# Insert List

In [69]:
#insert list

list_kawan.insert(0, 'Apri')

In [70]:
print(list_kawan)

['Apri', 'Apri Junaidi', 'Jerry', 'Aldean', 'David', 'Restu']

# Hapus data list

In [72]:
# Remove data list

list_kawan.remove('Apri')

In [73]:
print(list_kawan)

['Apri Junaidi', 'Jerry', 'Aldean', 'David', 'Restu']

# Update data List

In [75]:
list_kawan

['Apri Junaidi', 'Jerry', 'Aldean', 'David', 'Restu']

In [78]:
# update list

list_kawan[0] = 'Apri'

In [79]:
print(list_kawan)

['Apri', 'Jerry', 'Aldean', 'David', 'Restu']

# Menghapus List

In [80]:
# Membuat list dengan range tertentu contoh 20

list_range = list(range(20))

In [81]:
list_range

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [82]:
del list_range[3]

In [85]:
list_range

[0, 1, 2, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [87]:
# Menghapus list dengan index -1

del list_range[-1]

In [88]:
list_range

[0, 1, 2, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17]

In [91]:
# Menghapus list range index dari 4 sampai 7

del list_range [4:7]

In [92]:
list_range

[0, 1, 2, 4, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17]

# Menghapus semua elemen

In [93]:
list_range.clear()

In [94]:
list_range

[]

# Menghapus elemen list Pop

In [103]:
# Pop
# Membat list pop
list_pop = ['C++', 'Basic', 'Basica', 'Python', 'Rubby']

In [104]:
# Menghapus elemen terakhir
list_pop.pop()

'Rubby'

In [105]:
list_pop

['C++', 'Basic', 'Basica', 'Python']

In [106]:
# Menghapus menggunakan index pop

list_pop.pop(2)

'Basica'

In [107]:
list_pop

['C++', 'Basic', 'Python']

# Tuple

In [115]:
contoh_tuple = ("Junaidi", 74)

In [116]:
contoh_tuple

('Junaidi', 74)

# Membaca element tuple

In [117]:
contoh_tuple[0]

'Junaidi'

In [118]:
contoh_tuple[1]

74

# Membuat Tuple Mahasiswa

In [120]:
mahasiswa = ('20110016', 'Rio Ghaniy Septiansyah', '08978287xxx')

In [121]:
mahasiswa

('20110016', 'Rio Ghaniy Septiansyah', '08978287xxx')

In [122]:
nim,nama,nomor_telepon = mahasiswa

In [123]:
nim

'20110016'

In [124]:
nama

'Rio Ghaniy Septiansyah'

In [127]:
# Menghapus tuple

del_tuple = (1,2,3,4,5,6.7)
del_tuple
(1,2,3,4,5,6,7)

(1, 2, 3, 4, 5, 6, 7)

In [128]:
#Menghapus tuple secara keseluruhan

del del_tuple

In [129]:
#Tes tuple yang sudah dihapus

del_tuple

NameError: name 'del_tuple' is not defined